/*
 * GTK Colors - Carnage
 */

@define-color accent_color #e2ab83;
@define-color accent_fg_color #111311;
@define-color accent_bg_color #e2ab83;
@define-color window_bg_color #111311;
@define-color window_fg_color #ececed;
@define-color headerbar_bg_color #111311;
@define-color headerbar_fg_color #ececed;
@define-color popover_bg_color #111311;
@define-color popover_fg_color #ececed;
@define-color view_bg_color #111311;
@define-color view_fg_color #ececed;
@define-color card_bg_color #111311;
@define-color card_fg_color #ececed;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
