/*
 * GTK Colors - Void
 */

@define-color accent_color #B49AE6;
@define-color accent_fg_color #05010C;
@define-color accent_bg_color #B49AE6;
@define-color window_bg_color #05010C;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #05010C;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #05010C;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #05010C;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #05010C;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
