/* Symphony by vyrx
 * Theme: Zen
 * https://github.com/vyrx-dev
 */

@define-color accent_color #959595;
@define-color accent_fg_color #0f0f0f;
@define-color accent_bg_color #959595;
@define-color window_bg_color #0f0f0f;
@define-color window_fg_color #e5e5e5;
@define-color headerbar_bg_color #1a1a1a;
@define-color headerbar_fg_color #e5e5e5;
@define-color headerbar_backdrop_color #0f0f0f;
@define-color popover_bg_color #1a1a1a;
@define-color popover_fg_color #e5e5e5;
@define-color view_bg_color #0f0f0f;
@define-color view_fg_color #e5e5e5;
@define-color card_bg_color #1a1a1a;
@define-color card_fg_color #e5e5e5;
@define-color dialog_bg_color #1a1a1a;
@define-color dialog_fg_color #e5e5e5;
@define-color sidebar_bg_color #1a1a1a;
@define-color sidebar_fg_color #c8c8c8;
@define-color sidebar_border_color #2a2a2a;
@define-color sidebar_backdrop_color #0f0f0f;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
