/*
 * Waybar Colors - Tokyo Night Theme
 * Blue/purple cyberpunk aesthetic
 */

    /* Custom waybar accent - btop title color for tokyo-night theme with subtle transparency */
    @define-color waybar_accent rgba(125, 207, 255, 0.10);
    @define-color waybar_accent_fg @on_background;

    @define-color background #16161e;
    @define-color foreground #c0caf5;

    @define-color error #f7768e;
    @define-color error_container #4a1a24;
    
    @define-color inverse_on_surface #24283b;
    @define-color inverse_primary #7a90c8;
    @define-color inverse_surface #c0caf5;
    
    @define-color on_background #c0caf5;
    @define-color on_error #320a14;
    @define-color on_error_container #ffc2d0;
    
    @define-color on_primary #0a1428;
    @define-color on_primary_container #d8e0f5;
    @define-color on_primary_fixed #040818;
    @define-color on_primary_fixed_variant #3a466a;
    
    @define-color on_secondary #0a0e28;
    @define-color on_secondary_container #dad8f5;
    @define-color on_secondary_fixed #040418;
    @define-color on_secondary_fixed_variant #3a3e6a;
    
    @define-color on_surface #c0caf5;
    @define-color on_surface_variant #a9b1d6;
    
    @define-color on_tertiary #0a1820;
    @define-color on_tertiary_container #d8e4e8;
    @define-color on_tertiary_fixed #040e14;
    @define-color on_tertiary_fixed_variant #3a4e58;
    
    @define-color outline #565f89;
    @define-color outline_variant #292e42;
    
    @define-color primary #7aa2f7;
    @define-color primary_container #3a466a;
    @define-color primary_fixed #d8e0f5;
    @define-color primary_fixed_dim #7aa2f7;
    
    @define-color scrim #000000;
    
    @define-color secondary #bb9af7;
    @define-color secondary_container #3a3e6a;
    @define-color secondary_fixed #dad8f5;
    @define-color secondary_fixed_dim #bb9af7;
    
    @define-color shadow #000000;
    @define-color source_color #7aa2f7;
    
    @define-color surface #16161e;
    @define-color surface_bright #3a3e52;
    @define-color surface_container #1f2335;
    @define-color surface_container_high #24283b;
    @define-color surface_container_highest #292e42;
    @define-color surface_container_low #1a1b26;
    @define-color surface_container_lowest #0f1017;
    @define-color surface_dim #16161e;
    @define-color surface_tint #7aa2f7;
    @define-color surface_variant #292e42;
    
    @define-color tertiary #7dcfff;
    @define-color tertiary_container #3a4e58;
    @define-color tertiary_fixed #d8e4e8;
    @define-color tertiary_fixed_dim #7dcfff;
