/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Tokyo Night
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(125, 207, 255, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #c0caf5;
@define-color surface_container #1f2335;
@define-color error #f7768e;
