/*
 * GTK Colors - Sakura
 */

@define-color accent_color #E8C099;
@define-color accent_fg_color #0d0509;
@define-color accent_bg_color #E8C099;
@define-color window_bg_color #0d0509;
@define-color window_fg_color #f0eaed;
@define-color headerbar_bg_color #0d0509;
@define-color headerbar_fg_color #f0eaed;
@define-color popover_bg_color #0d0509;
@define-color popover_fg_color #f0eaed;
@define-color view_bg_color #0d0509;
@define-color view_fg_color #f0eaed;
@define-color card_bg_color #0d0509;
@define-color card_fg_color #f0eaed;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
