/* Symphony by vyrx
 * Theme: Forest
 * https://github.com/vyrx-dev
 */

@define-color waybar_accent rgba(224, 235, 122, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #e3e2e9;
@define-color surface_container #1e1f25;
@define-color error #ffb4ab;
