/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Zen
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(187, 157, 189, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #dde4e2;
@define-color surface_container #1a2120;
@define-color error #ffb4ab;
