/*
 * Symphony
 * Author: vyrx
 * Theme: Tokyo Night
 * GTK Colors - Tokyo Night
 */

@define-color accent_color #7aa2f7;
@define-color accent_fg_color #FFFFFF;
@define-color accent_bg_color #7aa2f7;
@define-color window_bg_color #1a1b26;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #16161e;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #16161e;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #1a1b26;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #24283b;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color #16161e;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color #414868;
@define-color sidebar_backdrop_color #16161e;
