/*
 * GTK Colors - Tokyo Night
 */

@define-color accent_color #7dcfff;
@define-color accent_fg_color #1a1b26;
@define-color accent_bg_color #7dcfff;
@define-color window_bg_color #1a1b26;
@define-color window_fg_color #c0caf5;
@define-color headerbar_bg_color #1a1b26;
@define-color headerbar_fg_color #c0caf5;
@define-color popover_bg_color #1a1b26;
@define-color popover_fg_color #c0caf5;
@define-color view_bg_color #1a1b26;
@define-color view_fg_color #c0caf5;
@define-color card_bg_color #1a1b26;
@define-color card_fg_color #c0caf5;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
