/*
 * GTK Colors - Zen
 */

@define-color accent_color #8b8b8b;
@define-color accent_fg_color #000000;
@define-color accent_bg_color #8b8b8b;
@define-color window_bg_color #0a0a0a;
@define-color window_fg_color #e8e8e8;
@define-color headerbar_bg_color #0a0a0a;
@define-color headerbar_fg_color #e8e8e8;
@define-color popover_bg_color #0a0a0a;
@define-color popover_fg_color #e8e8e8;
@define-color view_bg_color #0a0a0a;
@define-color view_fg_color #e8e8e8;
@define-color card_bg_color #0a0a0a;
@define-color card_fg_color #e8e8e8;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
