/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Vague
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(174, 174, 209, 0.25);
@define-color waybar_accent_fg @on_background;
@define-color on_background #cdcdcd;
@define-color surface_container #121314;
@define-color error #e08398;
