/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Void
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(187, 154, 247, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #f0dfd8;
@define-color surface_container #271e1a;
@define-color error #ffb4ab;
