/* Symphony by vyrx
 * Theme: Vague
 * https://github.com/vyrx-dev
 */

@define-color accent_color #aeaed1;
@define-color accent_fg_color #FFFFFF;
@define-color accent_bg_color #aeaed1;
@define-color window_bg_color #121314;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #1a1b1c;
@define-color headerbar_fg_color #FFFFFF;
@define-color headerbar_backdrop_color #121314;
@define-color popover_bg_color #1a1b1c;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #121314;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #1a1b1c;
@define-color card_fg_color #FFFFFF;
@define-color dialog_bg_color #1a1b1c;
@define-color dialog_fg_color #FFFFFF;
@define-color sidebar_bg_color #1a1b1c;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color #252530;
@define-color sidebar_backdrop_color #121314;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
