/* Symphony by vyrx
 * Theme: Aamis
 * https://github.com/vyrx-dev
 */

@define-color waybar_accent rgba(206, 163, 127, 0.25);
@define-color waybar_accent_fg @on_background;
@define-color on_background #ede0d4;
@define-color surface_container #251f17;
@define-color error #ffb4ab;
