/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Aamis
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(206, 163, 127, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #ede0d4;
@define-color surface_container #251f17;
@define-color error #ffb4ab;
