/* Symphony by vyrx
 * Theme: Rose Pine
 * https://github.com/vyrx-dev
 */

/*
* GTK Colors - Rose Pine
*/

@define-color accent_color #ebbcba;
@define-color accent_fg_color #1f1d2e;
@define-color accent_bg_color #ebbcba;
@define-color window_bg_color #191724;
@define-color window_fg_color #e0def4;
@define-color headerbar_bg_color #191724;
@define-color headerbar_fg_color #e0def4;
@define-color popover_bg_color #191724;
@define-color popover_fg_color #e0def4;
@define-color view_bg_color #191724;
@define-color view_fg_color #e0def4;
@define-color card_bg_color #191724;
@define-color card_fg_color #e0def4;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
