/* Symphony by vyrx
 * Theme: Forest
 * https://github.com/vyrx-dev
 */

/*
 * GTK Colors - Forest
 */

@define-color accent_color #70cf6c;
@define-color accent_fg_color #020802;
@define-color accent_bg_color #70cf6c;
@define-color window_bg_color #020802;
@define-color window_fg_color #FFFFFF;
@define-color headerbar_bg_color #020802;
@define-color headerbar_fg_color #FFFFFF;
@define-color popover_bg_color #020802;
@define-color popover_fg_color #FFFFFF;
@define-color view_bg_color #020802;
@define-color view_fg_color #FFFFFF;
@define-color card_bg_color #020802;
@define-color card_fg_color #FFFFFF;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color #FFFFFF;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
