/*
* GTK Colors - Aamis
*/

@define-color accent_color #cea37f;
@define-color accent_fg_color #1a1614;
@define-color accent_bg_color #cea37f;
@define-color window_bg_color #1a1614;
@define-color window_fg_color #f2e5d7;
@define-color headerbar_bg_color #1a1614;
@define-color headerbar_fg_color #f2e5d7;
@define-color popover_bg_color #1a1614;
@define-color popover_fg_color #f2e5d7;
@define-color view_bg_color #1a1614;
@define-color view_fg_color #f2e5d7;
@define-color card_bg_color #1a1614;
@define-color card_fg_color #f2e5d7;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
