/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Sakura
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(209, 179, 153, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #dee4e4;
@define-color surface_container #1a2121;
@define-color error #ffb4ab;
