/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 *   Theme: Gruvbox Material
 * ════════════════════════════════════════════════════════
 */

@define-color waybar_accent rgba(169, 182, 101, 0.10);
@define-color waybar_accent_fg @on_background;
@define-color on_background #e2e2e9;
@define-color surface_container #1e1f25;
@define-color error #ffb4ab;
